{% trans_default_domain 'ChrisUserBundle' %}

    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.existingPassword) }}
        {{ form_row(changePasswordForm.plainPassword) }}

<button type="submit">{{ 'forms.submit'|trans() }}</button>
{{ form_end(changePasswordForm) }}